.board-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dark-gray);
  min-height: 100vh;
  overflow-x: scroll;
  scrollbar-width: none; 

  

}
.board-header{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a161e;
    padding: .5rem 1.5rem .5rem 3rem;
    border: 1px solid rgba(128, 128, 128, 0.285);
    color: #fff;

}
.board-name{
    font-size: 2rem;
    font-weight: 600;
    
}
.options-wrapper{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .75rem;
}
.open-taskModal-btn{
    height: 2.75rem;
    padding: 0 1.5rem;
    background-color: var(--azure);
    border-radius: 2rem;
    gap: .3rem;
}
.board-container {
  
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  color: var(--cream);
  padding: 0 1.5rem 0 3rem;
  overflow-x: scroll;
  scrollbar-width: none; 
}

.board-container::-webkit-scrollbar {
  display: none; 
}
.col-wrapper {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  width: 100%;


}
.col-header{
    width: 100%;
}
.column-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: .75rem;
  min-width: max-content;
  flex-wrap: nowrap;
}
.dot {
  min-width: 0.75rem;
  min-height: 0.75rem;
  border-radius: 50%;
  background-color: var(--light-lavender);
}
.second {
  background-color: var(--goldenrod);
}
.third {
  background-color: var(--emerald);
}


.empty-parag{
    margin-top: 1rem;
    min-width: max-content;

}

