.modal-wrapper {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  min-height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  z-index: 5 !important;
  background-color: rgba(2, 19, 4, 0.187) !important;
  backdrop-filter: blur(3px);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #020209aa;
  z-index: -1;
}
fieldset,
textarea,
input {
  border: none;
  background: none;
  outline: none;
}

/* LIGHT MODE STYLES.... */
.light-header {
  background-color: #fff !important;
  color: var(--dark-gray) !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.276);
}
.light-board-wrapper {
  background-color: #ffffff !important;
  color: var(--dark-gray) !important;
}
.light-text{
    color: #131314 !important;
}
.light-card{
    background-color: #f4fbf5 !important;
    color: var(--dark-gray) !important;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.21)!important;   
}
.light-modal{
    background-color: #f4fbf5 !important;
    color: var(--dark-gray) !important;
}
